.info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.profile{
    display: flex;
    width: 250px;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    margin-top: -180px;
}

.profile .btn-foto{
    display: flex;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 220px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.btn-foto input[type=button]{
    margin: 10px 0;
    border: none;
    width: 100%;
    background-color: #5a8013;
    color: #fff;
    font-weight: 500;
    padding: 10px 15px;
}

.profile .profile-img{
    border-radius: 100%;
    background-color: #5a8013;
    width: 220px;
}
.informations{
    width: 100%;
}
.content{
    display: flex;
    justify-content: center;
}
.section-configuration{
    display: flex;
    justify-content: center;
    align-items: center;
}

.informations{
    height: 100vh;
    margin-right: 210px;
}

section .head{
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-bottom: 20px;
}

.head h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #5a8013;
    margin: 20px;
    text-align: right;
}

.head small{
    font-weight: 500;
    text-align: right;
    margin: -20px 20px;
}

.container-body{
    padding: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 10px;
    width: 400px;
    height: auto;
    background-color: #fff;
    justify-content: center;
    box-shadow: 8px 8px 3px 3px #9c9c9c38;
}
.label{
    font-size: .8rem;
    color: rgb(112, 112, 112);
}
.text{
    margin: 15px 0;
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #5a8013;
    color: rgb(116, 116, 116);
    background-color: transparent;
}
.container-buttons{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    
}

.container-buttons button{
    cursor: pointer;
    margin: 10px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: none;
}
.container-configuration{
    display: flex;
    flex-direction: column ;
}
.container-configure{
    cursor: pointer;
    border-radius: 10px;    
    padding: 10px;
}
.container-configure:hover{
    background-color: rgb(246, 245, 245);
    color: white;
}
.text{
    font-size: .8rem;
}
.text-danger{
    color: rgb(251, 84, 84);
}
.text-info{
    color: rgb(111, 111, 111);
}

@media (max-width:920px){
    .container-body{
        width: 300px;
    }
}

@media (max-width:830px){
    .info{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .profile{
        margin-top: 0;
    }
}

@media (max-width:380px){
    .container-body{
        width: 250px;
    }
}